progress {
    accent-color: var(--color-red);
}
.price-table caption {
  font-family: var(--font-heading);
  margin-bottom: 0.5rem;
  color: var(--color-red);
}

.price-table thead th {
  background-color: var(--color-red);
  color: var(--color-white);
}
